node_modules
dist
.vs

*.log
*.tmp
*.zip
*.gz
*.tgz
*.tsbuildinfo

_private

/packages/app/public/data
*.module.s[ac]ss.d.ts

# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
