.title-badges {
    margin-inline-start: 0.5em;
    font-size: 1rem;
    vertical-align: bottom;
}

.title-links {
    font-size: 0.875rem;
    margin-block-start: 1em;;
    margin-block-end: 1em;;
}

.action-badge {
    margin: 0 1em;
    font-size: 0.875rem;
    vertical-align: bottom;
}

.clan-icon-decorator {
    margin-inline-end: 0.5em;
}

.fallback-label-language-badge {
    margin-inline-start: 0.5em;
    font-size: small;
    vertical-align: bottom;
}
