.title-badges {
    margin-inline-start: 0.5em;
    font-size: 1rem;
    vertical-align: bottom;
}

.action-badge {
    margin: 0 1em;
    font-size: 0.875rem;
    vertical-align: bottom;
}

.clan-icon-decorator {
    margin-right: 0.5em;
    margin-inline-end: 0.5em;
}

.fallback-label-language-badge {
    margin-left: 0.5em;
    margin-inline-start: 0.5em;
    font-size: small;
    vertical-align: bottom;
}

.unknown-value {
    font-style: italic;
}

.expandable-panel-anchor {
    .expandable-panel-container {
        transition: 200ms;
    }
}

@media (min-width: 960px) {
    .expandable-panel-anchor {
        position: relative;

        .expandable-panel-container {
            position: absolute;
            left: 0;
            top: 0;
            padding: 1em 2em 2em 2em;

            &.compact {
                padding: 0;
            }

            &:not(:hover) {
                overflow-y: auto;
                bottom: 0;
                box-shadow: none;
                background: transparent;
            }
        }
    }
}

@media (max-width: 959px) {
    .expandable-panel-anchor {
        .expandable-panel-container {
            box-shadow: none;
            background: transparent;
        }
    }
}