.character-family-tree {
    overflow-x: auto;
    padding: 1em;
    min-width: 0;

    .family-tree-connection {
        fill: none;
        stroke-width: 1;

        &.family-tree-connection-mate {
            stroke: #333333;
        }

        &.family-tree-connection-child {
            stroke: #33FFFF;
        }
    }

    foreignObject {
        overflow: visible;
    }

    .familytree-node {
        background: #cccccc99;
        border: 1px solid #cccccc;
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 200ms;
        cursor: pointer;

        &:hover {
            background: #cccccc;
            border: 2px solid #cccccc;
            transition: 200ms;
        }

        .entity-id {
            font-size: 0.625rem;
            color: #999999;
        }

        &.current {
            background: #fff2c599;

            &:hover {
                background: #fff2c5;
            }
        }
    }

}