.familytree-container {
    overflow-x: auto;
    padding: 1em;
    min-width: 0;

    .familytree-node {
        background: #cccccc99;
        border: 1px solid #cccccc;
        padding: 0.5em;
        text-align: center;

        .entity-id {
            font-size: 0.625rem;
        }
    }

}