.action-links {
    display: block;
    padding-inline-start: 0;
    padding-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 0;
    margin-bottom: 0;

    &.link {
        li {
            display: inline;

            &.current {
                .link {
                    font-weight: bold;
                }
            }
        }

        li:before {
            content: " | ";
        }

        li:first-child:before {
            content: none;
        }
    }

    &.button {
        li {
            display: inline;

            &.current {
                .link {
                    font-weight: bold;
                }
            }
        }
    }
}
