ul.external-links {
    display: block;
    padding-inline-start: 0;
    padding-left: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 0;
    margin-bottom: 0;

    >li {
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

.link-site {
    background: #cccccc;
    border: 1px solid #999999;
    padding: 0.125em;

    margin-inline-end: 1em;
    margin-right: 1em;

    vertical-align: baseline;
}
